<div>
  <div class="properties-container">
    <div class="row">
      <div class="shape-title">Shape title</div>
      <div class="delete-button">Delete</div>
    </div>
    <div class="row">
      <div>center x</div>
      <div>250</div>
    </div>
    <div class="row">
      <div>center y</div>
      <div>250</div>
    </div>
    <div class="row">
      <div>radius</div>
      <div>250</div>
    </div>
    <div class="row">
      <div>color</div>
      <div class="color-swatch"></div>
    </div>
  </div>
</div>
