<div class="properties-container">
  <div *ngIf="!getSelectedShapes().length">
    <div>
      <div class="row">No shapes selected</div>
    </div>
  </div>
  <div *ngFor="let shape of getSelectedShapes()" class="shape-container">
    <div class="row">
      <div class="shape-title">{{ shape.type }}</div>
      <button type="button" class="delete-button" (click)="handleDelete(shape.id)">Delete</button>
    </div>
    <div *ngIf="isCircle(shape)">
      <div class="row">
        <div>center x</div>
        <div>{{ shape.x }}</div>
      </div>
      <div class="row">
        <div>center y</div>
        <div>{{ shape.y }}</div>
      </div>
      <div class="row">
        <div>radius</div>
        <input
          type="range"
          [min]="minCircleRadius"
          [max]="maxCircleRadius"
          (input)="sceneService.setShapeProperty(shape.setRadiusFactory(), $event)"
          [value]="shape.radius"
        />
      </div>
    </div>
    <div *ngIf="isRectangle(shape)">
      <div class="row">
        <div>x</div>
        <div>{{ shape.x }}</div>
      </div>
      <div class="row">
        <div>y</div>
        <div>{{ shape.y }}</div>
      </div>
      <div class="row">
        <div>width</div>
        <input
          type="range"
          [min]="minRectangleSide"
          [max]="maxRectangleSide"
          (input)="sceneService.setShapeProperty(shape.setWidthFactory(), $event)"
          [value]="shape.width"
        />
      </div>
      <div class="row">
        <div>height</div>
        <input
          type="range"
          [min]="minRectangleSide"
          [max]="maxRectangleSide"
          (input)="sceneService.setShapeProperty(shape.setHeightFactory(), $event)"
          [value]="shape.height"
        />
      </div>
    </div>
    <div class="row">
      <div>color</div>
      <div class="color-swatch" [style.background]="shape.color"></div>
    </div>
  </div>
</div>
