<div class="properties-container">
  <div *ngIf="!getSelectedShapes().length">
    <div>
      <div class="row">No shapes selected</div>
    </div>
  </div>
  <div *ngFor="let shape of getSelectedShapes()" class="shape-container">
    <div class="row">
      <div class="shape-title">{{ shape.type }}</div>
      <button type="button" class="delete-button" (click)="handleDelete(shape.id)">Delete</button>
    </div>
    <div *ngIf="isCircle(shape)">
      <div class="row">
        <label>center x</label>
        <div>{{ shape.x }}</div>
      </div>
      <div class="row">
        <label>center y</label>
        <div>{{ shape.y }}</div>
      </div>
      <div class="row">
        <label>radius</label>
        <input
          type="range"
          [min]="minCircleRadius"
          [max]="maxCircleRadius"
          (input)="sceneService.setShapeProperty(shape.setRadiusFactory(), $event)"
          [value]="shape.radius"
        />
      </div>
    </div>
    <div *ngIf="isRectangle(shape)">
      <div class="row">
        <div>x</div>
        <div>{{ shape.x }}</div>
      </div>
      <div class="row">
        <div>y</div>
        <div>{{ shape.y }}</div>
      </div>
      <div class="row">
        <label>width</label>
        <input
          type="range"
          [min]="minRectangleSide"
          [max]="maxRectangleSide"
          (input)="sceneService.setShapeProperty(shape.setWidthFactory(), $event)"
          [value]="shape.width"
        />
      </div>
      <div class="row">
        <label>height</label>
        <input
          type="range"
          [min]="minRectangleSide"
          [max]="maxRectangleSide"
          (input)="sceneService.setShapeProperty(shape.setHeightFactory(), $event)"
          [value]="shape.height"
        />
      </div>
    </div>
    <div class="row">
      <label>color</label>
      <div
        class="color-swatch"
        [style.background]="convertColorTripleToString(shape.hslColor)"
        (click)="openModal()"
      ></div>
    </div>
  </div>
  <app-modal *ngIf="modalOpen" (overlayClick)="modalOverlayClick()">
    <div class="modal-flex">
      <div
        class="color-swatch-modal"
        [style.background]="convertColorTripleToString([100, 50, 50])"
      ></div>
      <div>
        <label class="modal-label">H</label>
        <input type="range" />
      </div>
      <div>
        <label class="modal-label">S</label>
        <input type="range" />
      </div>
      <div>
        <label class="modal-label">L</label>
        <input type="range" />
      </div>
      <div class="modal-button-container">
        <button type="button" class="modal-button">cancel</button>
        <button type="button" class="modal-button">ok</button>
      </div>
    </div>
  </app-modal>
</div>
