.properties-container {
  width: 15em;
}

.shape-container {
  border: 1px solid black;
  margin: 0 0 0.5em 0.5em;
  padding: 1em 0.25em 1em 0.25em;
}

.shape-title {
  font-size: 1.25em;
}

.delete-button {
  border: 1px solid black;
  padding: 0.25em;
  background: none;
}

/* a big a11y no-no */
.delete-button:focus {
  outline: 0;
}

.row {
  margin: 0 1em 0.25em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-swatch {
  border: 1px solid black;
  width: 2em;
  height: 1em;
}
