.modal-button {
  border: 1px solid black;
  margin: 1em 0.5em 0.5em 0;
  padding: 0.25em;
  background: none;
}

.modal-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
