<div class="tool-container">
  <button
    type="button"
    class="tool-button"
    (click)="toolsService.toolClickHandler('select')"
    [style.background]="toolsService.selectedTool === 'select' ? 'lightblue' : 'white'"
  >
    Select
  </button>
  <button
    type="button"
    class="tool-button"
    (click)="toolsService.toolClickHandler('rectangle')"
    [style.background]="toolsService.selectedTool === 'rectangle' ? 'lightblue' : 'white'"
  >
    Rectangle
  </button>
  <button
    type="button"
    class="tool-button"
    (click)="toolsService.toolClickHandler('circle')"
    [style.background]="toolsService.selectedTool === 'circle' ? 'lightblue' : 'white'"
  >
    Circle
  </button>
</div>
