.tool-container {
  display: flex;
  flex-direction: column;
}

.tool-button {
  border: 1px solid black;
  margin: 0 0.5em 0.5em 0;
  padding: 0.25em;
  background: none;
}

/* a big a11y no-no */
.tool-button:focus {
  outline: 0;
}
